* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Ubuntu", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 1fr 250px;
  grid-template-areas: "header" "main" "footer";
  background-color: #fcecd6;
}
body header {
  grid-area: header;
  background-color: rgb(22, 22, 22);
  display: grid;
  align-content: center;
  grid-template-columns: 50px 1fr 80px;
  grid-template-areas: "menu titulo carrito";
}
body header h1 {
  grid-area: titulo;
  font-size: 1.5rem;
  text-align: center;
  align-self: center;
  color: white;
}
body header h1 a {
  text-decoration: none;
  color: white;
}
body header .menu {
  grid-area: menu;
  align-self: center;
  justify-self: center;
}
body header .carrito {
  grid-area: carrito;
  margin-top: 5px;
}
body header .carrito img {
  padding: 20px 5px;
  align-self: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
body header .notificacion {
  display: none;
}
body header .notificacion-activo {
  position: absolute;
  right: 12px;
  top: 28px;
  width: 20px;
  height: 20px;
  background-color: purple;
  border-radius: 50%;
  z-index: 5;
}
body header .notificacion-activo p {
  text-align: center;
  align-self: center;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}
body main {
  grid-area: main;
}
body main .cont_menu {
  position: absolute;
  z-index: 1;
  top: 99px;
  left: 0;
  height: 300%;
  width: 100%;
  background-color: gray;
  border-radius: 0px;
  border: 2px solid rgb(0, 0, 0);
  padding: 20px;
  transition: 0.8s;
}
body main .cont_menu ul {
  padding: 5px;
  width: 100%;
  text-align: center;
}
body main .cont_menu ul li {
  list-style-type: none;
  margin-top: 10px;
}
body main .cont_menu ul li:hover {
  width: 100%;
}
body main .cont_menu ul li:hover a p {
  color: rgb(255, 255, 255);
}
body main .cont_menu ul li a {
  text-decoration: none;
}
body main .cont_menu ul li a p {
  color: black;
  font-size: 2rem;
  margin-top: 10px;
  width: 100%;
}
body main .activado {
  transform: translate(-1000px);
  transition: 1s;
}
body main .cont_carrito {
  position: absolute;
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 20px;
  z-index: 1;
  top: 99px;
  right: 0;
  width: 100%;
  height: 85%;
  background-color: rgb(80, 80, 80);
  overflow-y: scroll;
  padding-block: 10px;
  transition: 0.8s;
}
body main .cont_carrito ul {
  padding: 5px;
  width: 100%;
}
body main .cont_carrito ul .prod {
  display: grid;
  padding: 10px;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr 30px 1fr;
  grid-template-areas: "img nombre" "img med" "img cant";
  margin-block: 20px;
  width: 100%;
  height: 250px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
}
body main .cont_carrito ul .prod img {
  grid-area: img;
  width: 100%;
  height: 100%;
  border: 2px solid black;
}
body main .cont_carrito ul .prod p.nombre {
  grid-area: nombre;
  font-size: 1.5rem;
  text-align: center;
}
body main .cont_carrito ul .prod p.medida {
  grid-area: med;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
body main .cont_carrito ul .prod .cant {
  grid-area: cant;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-inline: 20px;
}
body main .cont_carrito ul .prod .cant p {
  text-align: center;
  font-weight: 700;
}
body main .cont_carrito ul .prod .cant input {
  width: 40px;
  padding-block: 5px;
  justify-self: center;
  text-align: center;
  height: 20px;
  border-radius: 10px;
}
body main .cont_carrito a button {
  height: 50px;
  width: 180px;
  text-align: center;
  margin-left: 30%;
  margin-top: 5%;
  border-radius: 30px;
  color: black;
  border: 2px solid black;
  background-color: gray;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}
body main .cont_carrito a button:active {
  background-color: rgb(175, 175, 175);
}
body main .cont_carrito::-webkit-scrollbar {
  left: 0;
  width: 5px;
}
body main .cont_carrito::-webkit-scrollbar-thumb {
  background-color: white;
}
body main .activo {
  transform: translate(-1000px);
  transition: 1.2s;
}
body footer {
  grid-area: footer;
  z-index: 2;
  background-color: rgb(22, 22, 22);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 50px;
  grid-template-areas: "reds hor " "cont ubi " "der der";
  text-align: center;
  align-items: center;
}
body footer .redes {
  grid-area: reds;
}
body footer .redes h3 {
  text-decoration: underline;
  font-size: 1.3rem;
  margin-bottom: 5px;
}
body footer .redes ul a {
  text-decoration: none;
}
body footer .redes ul a li {
  color: white;
  font-size: 1.1rem;
}
body footer .horarios {
  grid-area: hor;
}
body footer .horarios h3 {
  text-decoration: underline;
  font-size: 1.3rem;
  margin-bottom: 5px;
}
body footer .horarios p {
  font-size: 1.1rem;
}
body footer .contacto {
  grid-area: cont;
}
body footer .contacto h3 {
  text-decoration: underline;
  font-size: 1.3rem;
  margin-bottom: 5px;
}
body footer .contacto ul li {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
}
body footer .ubicacion {
  grid-area: ubi;
}
body footer .ubicacion h3 {
  text-decoration: underline;
  font-size: 1.3rem;
  margin-bottom: 5px;
}
body footer .ubicacion p {
  font-size: 1.1rem;
}
body footer .derechos {
  grid-area: der;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
body footer .derechos p {
  font-size: 1rem;
}
body::-webkit-scrollbar {
  left: 0;
  width: 10px;
  background-color: rgb(109, 109, 109);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
  padding-inline: 2px;
}

.menu {
  width: 40px;
  height: 40px;
  position: relative;
  left: 30px;
  top: 20px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.menu span {
  display: block;
  background-color: gray;
  width: 100%;
  height: 4px;
  margin-top: 9px;
  transition: all 1s;
  transform-origin: 0px 100%;
}
.menu .linea1_menu-activa {
  transform: rotate(45deg) translate(-2px, 0px);
}
.menu .linea2_menu-activa {
  opacity: 0;
  margin-left: -40px;
}
.menu .linea3_menu-activa {
  transform: rotate(-45deg) translate(0px, 2px);
}

.lineas_flechas {
  display: block;
  background-color: black;
  width: 100%;
  height: 3px;
  margin-top: 10px;
}

#index {
  display: grid;
  margin-block: 15px;
  grid-template-columns: 100%;
  grid-template-rows: 300px 1fr 150px;
  gap: 20px;
  grid-template-areas: "carrousel" "img" "envio";
}
#index #carrousel {
  grid-area: carrousel;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
#index #carrousel .grande {
  width: 300%;
  height: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1%;
  transition: all 0.5s ease;
}
#index #carrousel .grande img {
  width: calc(33.3333333333% - 5px);
  max-height: 300px;
}
#index #carrousel .puntos {
  position: sticky;
  width: 100%;
  padding: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.4em;
}
#index #carrousel .puntos .punto {
  width: 1em;
  height: 1em;
  margin: 5px 5px;
  background-color: black;
  border-radius: 50%;
  border: 1px solid black;
}
#index #carrousel .puntos .activo {
  background-color: rgb(94, 94, 94);
}
#index #imagenes {
  grid-area: img;
  display: grid;
  row-gap: 5px;
  grid-template-columns: 100%;
}
#index #imagenes div {
  height: 300px;
  width: 100%;
}
#index #imagenes div img {
  width: 100%;
  height: 100%;
}
#index #imagenes div:hover {
  filter: brightness(50%);
}
#index #datos_envio {
  grid-area: envio;
  width: 100%;
  margin-bottom: 10px;
  background-color: gray;
  border-block: 2px solid black;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#index #datos_envio p {
  text-align: center;
  align-self: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.producto {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}
.producto .prod {
  background-color: gray;
  width: 100%;
  height: auto;
  margin-block: 10px;
}
.producto .prod a {
  display: grid;
  grid-template-rows: 1fr 60px 60px;
  grid-template-areas: "img" "nomb" "pre";
  padding: 10px;
  text-align: center;
  justify-items: center;
  align-items: center;
  text-decoration: none;
}
.producto .prod a .img {
  margin: 10px;
  grid-area: img;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 20px;
  border: 1px solid black;
}
.producto .prod a .nombre {
  grid-area: nomb;
  color: black;
  font-size: 2rem;
}
.producto .prod a .precio {
  grid-area: pre;
  color: black;
  font-size: 1.5rem;
}

.prod_ind {
  width: 100%;
  padding: 10px;
}
.prod_ind .Prod {
  width: 100%;
  display: grid;
  text-align: center;
  gap: 5px;
  grid-template-areas: "img" "nombre" "precio" "med" "desc" "disp" "boton";
  grid-template-columns: 1fr;
  grid-template-rows: 400px 60px 60px 40px 1fr 40px 50px;
}
.prod_ind .Prod .img {
  grid-area: img;
  padding-inline: 30px;
}
.prod_ind .Prod .img img {
  width: 100%;
  height: 100%;
}
.prod_ind .Prod .nombre {
  grid-area: nombre;
  text-align: center;
  align-self: center;
}
.prod_ind .Prod .nombre h2 {
  font-size: 2rem;
  font-weight: 600;
}
.prod_ind .Prod .precio {
  grid-area: precio;
  text-align: center;
  align-self: center;
  border-block: 1px solid black;
  padding-block: 6px;
}
.prod_ind .Prod .precio p {
  font-size: 2rem;
  font-weight: 500;
}
.prod_ind .Prod .medida {
  grid-area: med;
  align-self: center;
  padding: 5px;
  font-size: 1.5rem;
}
.prod_ind .Prod .medida form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.prod_ind .Prod .medida form p {
  font-size: 1.5rem;
  text-align: end;
  padding-right: 10px;
  align-self: center;
}
.prod_ind .Prod .medida form select {
  width: 120px;
  height: 20px;
  text-align: center;
  align-self: center;
  cursor: pointer;
}
.prod_ind .Prod .descripcion {
  grid-area: desc;
  padding: 5px;
}
.prod_ind .Prod .descripcion p {
  font-size: 1.2rem;
}
.prod_ind .Prod .disp {
  font-size: 1rem;
  text-align: center;
  color: rgba(128, 128, 128, 0.507);
}
.prod_ind .Prod .boton {
  grid-area: boton;
  align-self: center;
  border-top: 1px solid black;
  padding-top: 5px;
}
.prod_ind .Prod .boton button {
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  background-color: rgb(165, 165, 165);
  cursor: pointer;
}
.prod_ind .Prod .boton button p {
  font-size: 1.5rem;
  font-weight: 500;
}
.prod_ind .Prod .boton button:active {
  background-color: gray;
}

* {
  font-family: "Ubuntu", sans-serif;
}

.comprar {
  display: grid;
  grid-template-rows: 1fr 1fr 80px;
  background-color: white;
  gap: 5px;
  padding: 10px;
}
.comprar .detalles {
  display: grid;
  width: 100%;
  height: 700px;
  overflow-y: scroll;
  background-color: rgb(160, 160, 160);
}
.comprar .detalles .productos {
  border-block: 1px solid black;
  margin-bottom: 5px;
  width: 100%;
  align-self: center;
  height: 150px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr 30px;
  grid-template-rows: 1.4fr 1fr;
  grid-template-areas: "img nombre boton" "img precio precio";
}
.comprar .detalles .productos img {
  grid-area: img;
  width: 100%;
  height: 100%;
}
.comprar .detalles .productos .nombre {
  grid-area: nombre;
  text-align: center;
  align-self: center;
  font-size: 1.7rem;
}
.comprar .detalles .productos .precio {
  grid-area: precio;
  text-align: center;
  align-self: center;
  font-weight: 600;
  font-size: 2rem;
}
.comprar .detalles .productos .eliminar {
  grid-area: boton;
  width: 20px;
  height: 20px;
  position: relative;
  justify-self: center;
  cursor: pointer;
  margin-top: 5px;
}
.comprar .detalles .productos .eliminar span {
  display: block;
  background-color: black;
  width: 100%;
  height: 2px;
  z-index: 5;
  margin-top: 5px;
}
.comprar .detalles .productos .eliminar .linea_1 {
  transform: rotate(45deg) translate(3px, 2.5px);
}
.comprar .detalles .productos .eliminar .linea_2 {
  transform: rotate(-45deg) translate(2px, -2px);
}
.comprar .formulario {
  padding: 10px;
  display: grid;
  align-content: center;
  width: 100%;
  height: 700px;
  overflow-y: scroll;
  background-color: rgb(160, 160, 160);
}
.comprar .formulario .precios {
  height: 40px;
  margin-top: 10px;
  text-align: center;
  align-items: center;
  display: grid;
  padding-inline: 10px;
  gap: 15px;
  grid-template-columns: 30px 1fr 110px 110px;
  grid-template-areas: "cant nomb prec tot";
}
.comprar .formulario .precios .cantidad {
  grid-area: cant;
  font-size: 1.5rem;
}
.comprar .formulario .precios .tipo {
  grid-area: nomb;
  font-size: 1rem;
  font-weight: 600;
}
.comprar .formulario .precios .precio {
  grid-area: prec;
  font-size: 1.5rem;
}
.comprar .formulario .precios .total {
  grid-area: tot;
  font-size: 1.5rem;
}
.comprar .formulario .total_pagar {
  display: grid;
  border-top: 2px solid black;
  padding-top: 15px;
  grid-template-columns: 1fr 150px;
  padding-inline: 20px;
  text-align: center;
}
.comprar .formulario .total_pagar p {
  font-size: 2rem;
}
.comprar .button {
  align-self: center;
  justify-self: center;
}
.comprar .button .boton-pagar {
  background-color: gray;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  border: 2px solid black;
}
.comprar .button .boton-pagar:active {
  background-color: rgb(180, 180, 180);
}
.comprar .form_enviar {
  position: fixed;
  z-index: -2;
  background-color: rgb(170, 170, 170);
  border: 2px solid black;
  border-radius: 15px;
  width: 95%;
  height: 400px;
  top: 20%;
  bottom: 20%;
}
.comprar .form_enviar div form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 40px) 1fr 50px;
  text-align: center;
  font-size: 1.3rem;
  grid-template-areas: "nombre_text" "nombre_input" "email_text" "email_input" "comentario_text" "comentario_input" "boton";
  padding: 10px;
}
.comprar .form_enviar div form #text-nombre {
  grid-area: nombre_text;
  align-self: center;
  text-decoration: underline;
}
.comprar .form_enviar div form #nombre {
  grid-area: nombre_input;
  width: 300px;
  height: 90%;
  justify-self: center;
  border-radius: 15px;
}
.comprar .form_enviar div form #text-email {
  grid-area: email_text;
  align-self: center;
  text-decoration: underline;
}
.comprar .form_enviar div form #email {
  grid-area: email_input;
  padding: 5px;
  width: 300px;
  height: 90%;
  justify-self: center;
  border-radius: 15px;
}
.comprar .form_enviar div form #text-comentario {
  align-self: center;
  grid-area: comentario_text;
  text-decoration: underline;
}
.comprar .form_enviar div form textarea {
  grid-area: comentario_input;
  padding: 5px;
  border-radius: 15px;
}
.comprar .form_enviar div form #enviar {
  grid-area: boton;
  justify-self: center;
  align-self: center;
  width: 100px;
  height: 30px;
  background-color: gray;
  border-radius: 10px;
}
.comprar .form_enviar div form #enviar:active {
  background-color: rgb(165, 164, 164);
}
.comprar .form_enviar-activo {
  z-index: 5;
}

/*  Layout  */
@media (min-width: 1024px) {
  body {
    grid-template-rows: 100px 1fr 200px;
  }
  body header {
    grid-template-columns: 100px 1fr 100px;
  }
  body header h1 {
    font-size: 3rem;
    align-self: center !important;
  }
  body header .menu {
    top: 15% !important;
    left: 25% !important;
  }
  main .cont_menu {
    position: absolute !important;
    left: 0px !important;
    width: 300px !important;
    height: 180% !important;
  }
  main .cont_menu ul li {
    padding-left: 0 !important;
  }
  main .cont_menu ul li a p {
    margin-top: 5px !important;
  }
  main .cont_menu ul li a p strong {
    font-size: 2rem;
  }
  main .activado {
    transform: translate(-500px) !important;
    transition: 1s;
  }
  main .cont_carrito {
    width: 400px !important;
    height: 85% !important;
    padding-block: 0px !important;
    margin-bottom: 20px;
  }
  main .cont_carrito ul .prod {
    height: 150px !important;
    margin-top: 10px !important;
  }
  main .activo {
    transform: translate(-1500px) !important;
    transition: 1s;
  }
  footer {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    grid-template-rows: 1fr 40px !important;
    grid-template-areas: "reds hor cont ubi " "der der der der" !important;
  }
  footer h3 {
    font-size: 1.5rem !important;
  }
  footer p {
    font-size: 1.3rem !important;
  }
  footer ul li {
    font-size: 1.3rem;
  }
}
/*      INICIO      */
@media (min-width: 1024px) {
  #index {
    grid-template-rows: 500px 1fr 150px !important;
  }
  #index #carrousel .grande img {
    max-height: 500px;
  }
  #index #carrousel .puntos .punto {
    border: none;
  }
  #imagenes {
    display: grid;
    grid-template-columns: repeat(11, 1fr) !important;
    grid-template-rows: 200px 200px !important;
    gap: 2px;
    grid-template-areas: "img_1 img_1 img_1 img_2 img_2 img_5 img_5 img_5 img_6 img_6 img_6" "img_3 img_3 img_4 img_4 img_4 img_5 img_5 img_5 img_7 img_7 img_7";
  }
  #imagenes div {
    border: none !important;
  }
  #imagenes .img_1 {
    grid-area: img_1;
    width: 100% !important;
    height: 100% !important;
  }
  #imagenes .img_2 {
    grid-area: img_2;
    width: 100% !important;
    height: 100% !important;
  }
  #imagenes .img_3 {
    grid-area: img_3;
    width: 100% !important;
    height: 100% !important;
  }
  #imagenes .img_4 {
    grid-area: img_4;
    width: 100% !important;
    height: 100% !important;
  }
  #imagenes .img_5 {
    grid-area: img_5;
    width: 100% !important;
    height: 100% !important;
  }
  #imagenes .img_6 {
    grid-area: img_6;
    width: 100% !important;
    height: 100% !important;
  }
  #imagenes .img_7 {
    grid-area: img_7;
    width: 100% !important;
    height: 100% !important;
  }
  #datos_envio p {
    font-size: 1.5rem !important;
  }
}
@media (min-width: 1024px) {
  .producto {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  .producto .prod a {
    height: 100%;
  }
  .producto .prod a .img {
    max-width: 90%;
    min-height: 90%;
    object-fit: fill;
  }
}
@media (min-width: 1024px) {
  .prod_ind .Prod {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 100px 50px 1fr 30px 100px;
    grid-template-areas: "img nombre" "img precio" "img med" "img descripcion" "img disp" "img boton";
  }
  .prod_ind .Prod .img {
    grid-area: img;
    padding: 20px;
  }
  .prod_ind .Prod .img img {
    min-width: 90%;
    min-height: 90%;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 10px;
  }
  .prod_ind .Prod .nombre {
    grid-area: nombre;
  }
  .prod_ind .Prod .nombre h2 {
    font-size: 3rem;
  }
  .prod_ind .Prod .medida {
    padding: 5px;
  }
  .prod_ind .Prod .medida form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .prod_ind .Prod .medida form p {
    font-size: 1.5rem;
  }
  .prod_ind .Prod .medida form select {
    width: 150px;
    height: 30px;
    font-weight: 500;
  }
  .prod_ind .Prod .precio {
    grid-area: precio;
  }
  .prod_ind .Prod .precio p {
    font-size: 3rem;
  }
  .prod_ind .Prod .descripcion {
    grid-area: descripcion;
  }
  .prod_ind .Prod .descripcion p {
    font-size: 1.8rem;
  }
  .prod_ind .Prod .disp {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .comprar {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 80px;
    grid-template-areas: "detalles form" "boton boton";
    gap: 10px 40px;
    padding: 50px;
  }
  .comprar .detalles {
    grid-area: detalles;
    padding: 20px;
    height: 600px;
  }
  .comprar .detalles .productos {
    border: none;
    margin-block: 10px;
    background-color: rgba(0, 0, 0, 0.308);
    padding: 10px;
    border-radius: 10px;
  }
  .comprar .detalles::-webkit-scrollbar {
    left: 0;
    width: 5px;
  }
  .comprar .detalles::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .comprar .formulario {
    grid-area: form;
    height: 600px;
  }
  .comprar .formulario .precios .tipo {
    font-size: 1.4rem;
  }
  .comprar .formulario .precios .precio {
    font-size: 1.5rem;
  }
  .comprar .formulario .precios .total {
    font-size: 1.5rem;
  }
  .comprar .formulario::-webkit-scrollbar {
    left: 0;
    width: 5px;
  }
  .comprar .formulario::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .comprar .form_enviar {
    width: 50%;
    justify-self: center;
  }
  .comprar .button {
    grid-area: boton;
  }
  .comprar .button button {
    justify-self: center;
    align-self: center;
  }
}

/*# sourceMappingURL=styles.css.map */
