


/*  Layout  */
@media (min-width:1024px){
    body{
        grid-template-rows: 100px 1fr 200px;
        header{
            grid-template-columns: 100px 1fr 100px;
            h1{
                font-size: 3rem;
                align-self: center !important;
            }
            .menu{
                top: 15% !important;
                left: 25% !important;
            }
        }
    }
    main{
        .cont_menu{
            position:absolute !important;
            left: 0px !important;
            width: 300px !important;
            height: 180% !important;
            ul{
                li{
                    padding-left: 0 !important;
                    a{
                        p{
                            margin-top: 5px !important;
                            strong{
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }
        }
        .activado{
            transform: translate(-500px) !important;
            transition: 1s;
        }
        .cont_carrito{
            width: 400px !important;
            height: 85% !important;
            padding-block: 0px !important;
            margin-bottom: 20px;
            ul{
                .prod{
                    height: 150px !important;
                    margin-top: 10px !important;
                }
            }
        }
        .activo{
            transform: translate(-1500px) !important;
            transition: 1s;
        }
    }
    footer{ 
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
        grid-template-rows: 1fr 40px !important;
        grid-template-areas: "reds hor cont ubi " "der der der der" !important;
        h3{
            font-size: 1.5rem !important;
        }
        p{
            font-size: 1.3rem !important;
        }
        ul{
            li{
                font-size: 1.3rem;
            }
        }
    }
}


    /*      INICIO      */
@media (min-width:1024px){
    #index{
        grid-template-rows: 500px 1fr 150px !important;

        #carrousel{
            .grande{
                img{
                    max-height: 500px;
                }
            }
            .puntos{
                .punto{
                    border: none;
                }
            }
        }
    }
    #imagenes{
        display: grid;
        grid-template-columns: repeat(11,1fr) !important;
        grid-template-rows: 200px 200px !important;
        gap: 2px;
        grid-template-areas: 
        "img_1 img_1 img_1 img_2 img_2 img_5 img_5 img_5 img_6 img_6 img_6"
        "img_3 img_3 img_4 img_4 img_4 img_5 img_5 img_5 img_7 img_7 img_7";
        div{
            border: none !important;
        }
        
        .img_1{
            grid-area: img_1;
            width: 100% !important;
            height: 100% !important;
        }
        .img_2{
            grid-area: img_2;
            width: 100% !important;
            height: 100% !important;
        }
        .img_3{
            grid-area: img_3;
            width: 100% !important;
            height: 100% !important;
        }
        .img_4{
            grid-area: img_4;
            width: 100% !important;
            height: 100% !important;
        }
        .img_5{
            grid-area: img_5;
            width: 100% !important;
            height: 100% !important;
        }
        .img_6{
            grid-area: img_6;
            width: 100% !important;
            height: 100% !important;
        }
        .img_7{
            grid-area: img_7;
            width: 100% !important;
            height: 100% !important;
        }
    }
}

    // Productos

@media (min-width:1024px){
    .producto{
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
        margin: 30px 50px;
        .prod{
            a{
                border-radius: 20px;
                height: 500px;
                padding: 5px;
                grid-template-rows: 350px 30px 30px;
                gap: 20px;
                .img{
                    border-radius: 20px 20px 0px 0px;
                    height: 350px;
                }
                .nombre{
                    font-size: 1.7rem;
                }
                .precio{
                    margin-top: 25px;
                }
            }
        }
    }
}


    // Productos Individuales
@media (min-width:1024px){
    .prod_ind{
        .Prod{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 150px 100px 50px 1fr 30px 100px;
            grid-template-areas: "img nombre" "img precio" "img med" "img descripcion" "img disp" "img boton";
        .img{
            grid-area: img;
            padding: 20px;
            img{
                height: 600px;
                border: 2px solid black;
                border-radius: 10px;
            }
        }
        .nombre{
            grid-area: nombre;
            h2{
                font-size: 3rem;
            }
        }
        .medida{
            padding: 5px;
            form{
                
                display: grid;
                grid-template-columns: 1fr 1fr;
                p{
                    font-size: 1.5rem;
                }
                select{
                    width: 150px;
                    height: 30px;
                    font-weight: 500;
                }
            }
        }
        .precio{
            grid-area: precio;
            p{
                font-size: 3rem;
            }
        }
        .descripcion{
            grid-area: descripcion;
            p{
                font-size: 1.8rem;
            }
        }
        .disp{
            font-size: 1.2rem;
        }
        }
        
    }

}

    //  Pagina de Compra

    
@media (min-width:1024px){
    .comprar{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 80px;
        grid-template-areas: "detalles form" "boton boton";
        gap: 10px 40px;
        padding: 50px;  
        .detalles{
            grid-area: detalles;
            padding: 20px;
            height: 600px;
            .productos{
                border: none;
                margin-block: 10px;
                background-color: rgba(0, 0, 0, 0.308);
                padding: 10px;
                border-radius: 10px;
            }
            &::-webkit-scrollbar{
                left: 0;
                width: 5px;
            }
            &::-webkit-scrollbar-thumb{
                background-color: rgba(0, 0, 0, 0.300);   
            }
        }
        .formulario{
            grid-area: form;
            height: 600px;
            .precios{
                    
                .tipo{
                    font-size: 1.4rem;
                }
                .precio{
                    font-size: 1.5rem;
                }
                .total{
                    font-size: 1.5rem;
                }
            }
            &::-webkit-scrollbar{
                left: 0;
                width: 5px;
            }
            &::-webkit-scrollbar-thumb{
                background-color: rgba(0, 0, 0, 0.300);       
            }
        }
        .form_enviar{
            width: 50%;
            justify-self: center;
        }
        .button{
            grid-area: boton;
            button{
                justify-self: center;
                align-self: center;
            }
        }
    }
}