.producto{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    .prod{
        background-color: gray;
        width: 100%;
        height: auto;
        margin-block: 10px;
        a{
            display: grid;
            grid-template-rows: 1fr 60px 60px  ;
            grid-template-areas: "img" "nomb" "pre";
            padding: 10px;
            text-align: center;
            justify-items: center;
            align-items: center;
            text-decoration: none;
            .img{
                margin: 10px;
                grid-area: img;
                max-width: 100%;
                max-height:100% ;
                object-fit: cover;
                border-radius: 20px;
                border: 1px solid black;
            }
            .nombre{
                grid-area: nomb;
                color: black;
                font-size: 2rem;
            }
            .precio{
                grid-area: pre;
                color: black;
                font-size: 1.5rem;
            }
        }
    }
}